.main-image-container{
    padding-top: 150px;
    padding-bottom: 150px;
    text-align: center;
    background-image: url("https://images.pexels.com/photos/3183197/pexels-photo-3183197.jpeg?auto=compress&cs=tinysrgb&dpr=3&h=750&w=1260");
    background-size: cover;
}

.main-image-container span {
    font-size: 50px;
    font-weight: bold;
    text-transform: uppercase;
    color: white;
}

.contact-btn {
    font-size: 16px;
    padding: .8rem 3rem;
    margin-top: 2rem;
    border-radius: 5px;
    border: none;
    color: white;
    background-color: #058fff;
}