.main-image-container{
    padding-top: 150px;
    padding-bottom: 150px;
    text-align: center;
    background-image: url("https://images.pexels.com/photos/3183197/pexels-photo-3183197.jpeg?auto=compress&cs=tinysrgb&dpr=3&h=750&w=1260");
    background-size: cover;
}

.main-image-container span {
    font-size: 50px;
    font-weight: bold;
    text-transform: uppercase;
    color: white;
}

.contact-btn {
    font-size: 16px;
    padding: .8rem 3rem;
    margin-top: 2rem;
    border-radius: 5px;
    border: none;
    color: white;
    background-color: #058fff;
}

.posts-title {
    text-align: center;
    margin-top: 2rem;
}

.posts-container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin-bottom: 2rem;
}

.post {
    padding: 200px 100px 10px;
    background-size: cover;
    position: relative;
    margin: 10px;


    flex: 0 0;
}



.post-name {
    position: absolute;
    width: 168px;
    padding: 1rem;
    bottom: 0;
    text-align: center;
    left: 0;
    background-color: grey;
    opacity: 75%;
}

.load-more {
    text-align: center;
    margin-bottom: 4rem;
}

.load-more-btn {
    font-size: 16px;
    padding: .8rem 3rem;
    border-radius: 5px;
    border: none;
    color: white;
    background-color: #058fff;
    text-align: center;
}