.header {
    overflow: hidden;
    background-color: #f1f1f1;
    display: flex;
    justify-content: space-evenly;
}

.logo {
    margin-right: 3rem;
    font-size: 21px;
    font-weight: bold;
    text-decoration: none;
    color: #031D44;
    margin: 0.8rem;
}

.logo span {
    color: #0569ff;
}

.navbar {
    display: flex;
}

.navbar ul {
    display: flex;
    margin: 0;
    padding: 0;
}

.navbar li {
    list-style: none;
}


.nav-link {
    font-weight: bold;
    font-size: 13px;
    text-decoration: none;
    color: #031D44;
    margin: 0px 20px;
    padding: 20px 0;
    display: inline-block;
    position: relative;
}

.nav-link:hover {
    opacity: 1;
    color: #066aff;
}
  
.nav-link::before {
    transition: 300ms;
    height: 5px;
    content: "";
    position: absolute;
    background-color: #066aff;
}

.nav-link-grow-up::before {
    height: 0%;
    width: 100%;
    bottom: 0px;
}
  
.nav-link-grow-up:hover::before {
    height: 5px;
}

.contacts {
    margin: 0px 20px;
    padding: 20px 0;
    display: flex;
}

.contacts > a {
    margin: 0px 20px;
}

.contact {
    font-weight: bold;
    font-size: 13px;
    text-decoration: none;
    color: #031D44;
    display: inline-block;
    position: relative;
    opacity: 75%;
}

.contact:hover {
    color: #066aff;   
}

.contact i {
    margin-right: 5px;
}

.show-navbar-btn {
    display: none;
}

@media screen and (max-width: 900px) {

    .responsive-navbar-header {
        display: flex;
        justify-content: space-between;
    }

    .responsive-navbar-header.active {
        border: 1px solid grey;
    }

    .header {
        flex-direction: column;
        display: flex;
    }

    .logo {
        margin-bottom: 0.1rem;
        padding-bottom: 1rem;
    }


    .navbar{
        width: 100%;
        flex-direction: column;
    }

    .navbar, .contacts {
        flex-direction: column;
        display: none;
    }

    .navbar ul {
        flex-direction: column;
        width: 100%;
    }

    .navbar ul li {
        text-align: center;
    }

    .contacts {
        width: 100%;
        text-align: center;
        margin: 0;
    }

    .show-navbar-btn {
        display: block;
        margin: .5rem;
        float: right;
        border: none;
    }

    .show-navbar-btn:hover {
        color: #0569ff;
    }

    .navbar.active {
        display: flex !important;
    }

    .contacts.active {
        display: flex;
    }
}